.cause-container, .donate-form-container{
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    
}
.container-padding {
    padding: 10px 10px 30px 10px;
}
.image{
    text-align: center;
    width: 100%;
    height: 100%;
}
.pb-10{
    padding-bottom: 10px;
}
.donate-button{
    text-align: right;
    padding: 10px 20px;
}
.donate-form-container {
    color: #115c9b;
}
.submit-container{
    text-align: center;
    margin-top: 2%;
}
.heading-container {
    background: #115c9b;
    color: #fff;
    padding: 10px;
}
.border-none {
    border-radius: 0;
}
.pdf-container{
    /* width: 100%;
    position: absolute;
    left: 0; */
}
.pdf-container p {
    color: green;
    font-size: 14px;
    font-weight: 500;
}
.certificate-header{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #115c9b;
}
.date {
    float: right;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
}
.pdf-header{
    font-size: 20px;
}
.pdf-container{
    margin: 0;
}
#contentToConvert{
    display: none;
}
.min{
    min-height: 450px;
}